html {
  background: black;
}

body {
  margin: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://hdqwalls.com/download/walter-white-from-breaking-bad-2048x1152.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  font-family: Helvetica;
}
